[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/taubel/ArduinoJson.git
[submodule "lib/libWakaamaEmb"]
	path = lib/libWakaamaEmb
	url = https://github.com/taubel/libWakaamaEmb.git
